<!-- logo -->
<img class="logo" src="../../../assets/img/Logo nephila.png" alt="logo">

<!-- Barra de navegación -->
<div>
    <nav class="navbar navbar-dark bg-blue">
        <div class="container-fluid">
          <a class="navbar-brand fs-4 p-2 text-gold mx-5" href="#">
            Home
          </a>
        </div>
      </nav>
</div>

<!-- sección principal -->

<Section class="d-flex ">
    <div class="contenedor-1">
        <img class="img-1" src="../../../assets/img/home_imagen_1.jpeg" alt="">
    </div>
    <div class="contenedor-1">
        <img class="img-1" src="../../../assets/img/home_imagen_2.jpeg" alt="">
    </div>
    <div class="contenedor-1">
        <img class="img-1" src="../../../assets/img/home_imagen_3.jpeg" alt="">
    </div>
    <div class="contenedor-1">
        <img class="img-1" src="../../../assets/img/home_imagen_4.jpeg" alt="">
    </div>
</Section>