<!-- logo -->
<img class="logo" src="../../../assets/img/Logo nephila.png" alt="logo">

<!-- Barra de navegación -->
<div>
    <nav class="navbar navbar-dark bg-blue">
        <div class="container-fluid">
          <a class="navbar-brand fs-4 p-2 text-gold mx-5" href="#">
            Home
          </a>
        </div>
      </nav>
</div>

<!-- sección principal -->

<div class="contenedor">
    <figure>
        <img src="../../../assets/img/home_imagen_1.jpeg" alt="">
        <div class="capa">
            <h1>Sector Alimentos</h1>
        </div>
    </figure>
    <figure>
        <img src="../../../assets/img/home_imagen_2.jpeg" alt="">
        <div class="capa">
            <h1>Sector Escolar</h1>
        </div>
    </figure>
    <figure>
        <img src="../../../assets/img/home_imagen_3.jpeg" alt="">
        <div class="capa">
            <h1>Sector Tecnología</h1>
        </div>
    </figure>
    <figure>
        <img src="../../../assets/img/home_imagen_4.jpeg" alt="">
        <div class="capa">
            <h1>Sector Aseo</h1>
        </div>
    </figure>
    </div>
    <div class="square-finish">
        <h1 class="text_1">Te damos la bienvenida a NEPHILA</h1>
       <div class="mx-auto fs-1 fw-bolder" style="width: 210px;">
            <button class="btn btn-warning btn-lg px-5"> Conoce más</button>
        </div>
    </div>



   