.logo{
    width: 8rem;
    padding: 10px;
    margin-left: 60px;
}
.bg-blue{
    background-color: #02152b;
}
.text-gold{
    color: #99804e;
}
.text-gold:hover{
    color: #e9b753;
}
@media screen and (max-width: 2096px) {
    .contenedor-1{
        width: 25%;
        height: auto;
        
}
    .img-1{
        height: max-content;
        max-width: 100%;
    }
}

