
<body>
  <!--banner-->
  <section class="banner">
    <div class="img text-bg-dark">
      <img
        src="../assets/img/B2B-Referral-Program-banner-1024x341.jpg"
        class="card-img mt-0"
        alt="..."
      />
      <div class="card-img-overlay">
        <div
          class="d-flex justify-content-lg-start align-items-center h-100 mt-5"
        >
          <p class="title-banner mt-1">
            Una solución eficaz para una <br />red de mercados B2B
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="card" style="max-width: 2000px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="../assets/img/handsome-young-business-man-standing-confident-in-the-office-picture-id1324904314.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Nuestra misión:</h5>
          <p class="card-text mt-5">
            Construir un mercado B2B competitivo para aquellas empresas o
            empresarios constituidos legalmente que funcionen como compradores o
            proveedores, pues, buscamos desarrollar una plataforma de comercio
            digital. Así ayudamos a nuestros clientes a encontrar una
            información de mercado mejorada. De este modo queremos ayudar a las
            empresas a generar una mayor visibilidad y grandes oportunidades.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div
  class="accordion horizontal d-flex justify-content-center align-items-center"
>
  <section id="about">
    <h2><a href="#about">Sector Alimenticio</a></h2>
    <p>
      Los escolares y adolescentes necesitan una buena dieta para crecer,
      desarrollarse, protegerse de las enfermedades y tener la energía para
      estudiar, aprender y ser físicamente activos. Los programas y
      políticas escolares holísticos y coherentes son clave para lograr los
      derechos humanos de los niños a la alimentación, la educación y la
      salud. A través de intervenciones complementarias, como comidas
      escolares saludables y educación sobre alimentación y nutrición, los
      alumnos pueden mejorar sus dietas, desarrollar prácticas alimentarias
      más sanas y extenderlas a sus familias y comunidades. Estos programas
      también pueden apoyar la agricultura local, fortalecer y diversificar
      los sistemas alimentarios locales.
    </p>
  </section>

  <section id="services">
    <h2><a href="#services">Sector educativo</a></h2>
    <p>
      En Colombia la educación se define como un proceso de formación
      permanente, personal cultural y social que se fundamenta en una
      concepción integral de la persona humana, de su dignidad, de sus
      derechos y de sus deberes. En nuestra Constitución Política se dan las
      notas fundamentales de la naturaleza del servicio educativo. Allí se
      indica, por ejemplo, que se trata de un derecho de la persona, de un
      servicio público que tiene una función social y que corresponde al
      Estado regular y ejercer la suprema inspección y vigilancia respecto
      del servicio educativo con el fin de velar por su calidad, por el
      cumplimiento de sus fines y por la mejor formación moral, intelectual
      y física de los educandos. También se establece que se debe garantizar
      el adecuado cubrimiento del servicio y asegurar a los menores las
      condiciones necesarias para su acceso y permanencia en el sistema
      educativo.
    </p>
  </section>

  <section id="blog">
    <h2><a href="#blog">Tecnología</a></h2>
    <p>
      Es muy habitual, cuando pensamos en las Tecnologías de la Información
      (TIC) y las Comunicaciones específicamente para el sector educativo,
      lo asociamos a salas de informática, tablets o incluso pizarras
      digitales, sin tener en cuenta que existen infinidad de dispositivos
      capaces de generar un valor añadido. Y es que, la tecnología en el
      sector educativo está transformando la forma, tanto de dar como de
      recibir, cualquier tipo de formación. Los centros educativos gestionan
      una gran cantidad de información, y necesitan de herramientas
      digitales adecuadas para su adecuada gestión y transmisión. Desde
      Intranets o portales para los padres, pasando por apps capaces de
      optimizar procesos (como por ejemplo el transporte escolar).
    </p>
  </section>

  <section>
    <h2>Servicios generales</h2>
    <p>
      Se entiende por servicios generales que son áreas o unidades que
      forman parte de una estructura organizada dentro de una empresa que se
      encarga de una cantidad importante y significativa de actividades
      operativas. La mayoría está relacionada con tareas de mantenimiento y
      adecuación de espacios e instalaciones. Los servicios generales son
      importantes en el ámbito empresarial y se relacionan con todas las
      áreas dentro de una empresa, puesto que cada una requiere el apoyo de
      un trabajador en algún momento, así que aprendamos más sobre ello.
    </p>
  </section>
</div>

</body>
