body{
    background-color: #fff;
  }

img {
    opacity: 70%;
}
.title-banner {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    align-items: center;
    margin-bottom: 400px;
    margin-left: 80px;
}

.card {
    width: 800px;
    margin-top: 70px;
    margin-left: 500px;
}

.card-title {
    font-size: 30px;
}
