<body>
    <!--banner-->
    <div class="contenedor">
        <img class="img-fluid" src="../../../assets/img/image_2.jpg" />
        <div class="texto-encima"></div>
        <div class="centrado">Una solución eficaz para <br /> una red de mercados B2B</div>
      </div>
  
    <div class="card1" style="max-width:max-content ">
       <div class="row">
        <div class="col-md-4 ">
          <img
            src="../assets/img/handsome-young-business-man-standing-confident-in-the-office-picture-id1324904314.jpg"
            class="image img-fluid  "
            alt="..."
          />
        </div>
        <div class="col">
          <div class="card-body fluid">
            <h5 class="card-title1">Nuestra misión:</h5>
            <p class="card-text1 mt-4">
              Construir un mercado B2B competitivo para aquellas empresas o
              empresarios constituidos legalmente que funcionen como compradores o
              proveedores, pues, buscamos desarrollar una plataforma de comercio
              digital. Así ayudamos a nuestros clientes a encontrar una
              información de mercado mejorada. De este modo queremos ayudar a las
              empresas a generar una mayor visibilidad y grandes oportunidades.
            </p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="card-container d-flex align-items-stretch">
      <div class="card style= ">  
        <img src="../../../assets/img/img-info/alimentos-salud-cerebral.jpg"
          class="card-img width-25, margin-2, padding-20 hg-18;"
          alt="..."
        />
        <div class="card-body container justify-content-lg">
          <h5 class="card-title">Sector Alimenticion</h5>
          <p class="card-text">
            Los escolares y adolescentes necesitan una buena dieta para crecer,
            desarrollarse, protegerse de las enfermedades y tener la energía para
            estudiar, aprender y ser físicamente activos. Los programas y
            políticas escolares holísticos y coherentes son clave para lograr los
            derechos humanos de los niños a la alimentación, la educación y la
            salud. 
          </p>
        </div>
      </div>
  
      <div class= card >
        <img
          src="../../../assets/img/img-info/school.jfif"
          class="card-img-top  "
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Sector educativo</h5>
          <p class="card-text">
            En Colombia la educación se define como un proceso de formación
            permanente, personal cultural y social que se fundamenta en una
            concepción integral de la persona humana, de su dignidad, de sus
            derechos y de sus deberes. En nuestra Constitución Política se dan las
            notas fundamentales de la naturaleza del servicio educativo. 
          </p>
        </div>
      </div>
  
      <div class="card">
        <img
          src="../../../assets/img/img-info/computador.jfif"
          class="card-img-top "
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Tecnología</h5>
          <p class="card-text">
            Es muy habitual, cuando pensamos en las Tecnologías de la Información
            (TIC) y las Comunicaciones específicamente para el sector educativo,
            lo asociamos a salas de informática, tablets o incluso pizarras
            digitales, sin tener en cuenta que existen infinidad de dispositivos
            capaces de generar un valor añadido. 
          </p>
        </div>
      </div>
  
      <div class="card ">
        <img
          src="../../../assets/img/img-info/limpieza.jfif"
          class="card-img-top m-12 padding-16 width-20 "
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Servicios generales</h5>
          <p class="card-text d-flex text-align-items-center">
            Se entiende por servicios generales que son áreas o unidades que
            forman parte de una estructura organizada dentro de una empresa que se
            encarga de una cantidad importante y significativa de actividades
            operativas. La mayoría está relacionada con tareas de mantenimiento y
            adecuación de espacios e instalaciones. 
          </p>
        </div>
      </div>
    </div>
  </body>
 

