body{
    background-color: #fff;
  }

.img-banner {
    opacity: 70%;
}
.title-banner {
    text-align: center;
    font-size: 1.6vw;
    font-weight: bold;
    align-items: center;
    margin-bottom: 21vw;
    margin-left: 5vw;
}

.image {
    border-radius: 40%;
}

.card1 {
    width: 42vw;
    margin-top: 4vw;
    margin-left: 26vw;
}

.card-title1 {
    font-size: 1.6vw;
}

.card {
    margin: 1vw;
    width: 20vw;
    border: none;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98vw;
    margin-top: 15%;
}

