<section class="admin_vendedor">

    <ul class="barra_admin nav nav-tabs navbar-dark" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="boton-nav nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Compra</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="boton-nav nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Venta</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="boton-nav nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contacto</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="boton-nav nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">Usuario</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0"></div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0"></div>
        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0"></div>
        <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0"></div>
      </div>

      <nav class="barra-buscador navbar bg-light">
        <div class="container-fluid">
          <a class="brand navbar-brand">Prospectos</a>
          <form class="d-flex" role="search">
            <input class="buscador form-control me-2" type="Buscar" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </nav>

    <div class="tareas">

        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <button type="button" class="btn">
              <h5><i class="icono bi bi-people-fill"></i></h5>
            </button>
            <button type="button" class="btn">
              <h5><i class="icono bi bi-coin"></i></h5>
            </button>
            <button type="button" class="btn">
              <h5><i class="icono bi bi-card-checklist"></i></h5>
            </button>
            <button type="button" class="btn">
              <h5><i class="icono bi bi-megaphone-fill"></i></h5>
            </button>
            <button type="button" class="btn">
              <h5><i class="icono bi bi-envelope"></i></h5>
            </button>
            <button type="button" class="btn">
              <h5><i class="icono bi bi-graph-up-arrow"></i></h5>
            </button>
          </div>

          <section class="visualizador-tareas">

            <div class="organizador btn-group">
              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filtrar
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Mas reciente</a></li>
                <li><a class="dropdown-item" href="#">Mejor calificacion</a></li>
                <li><a class="dropdown-item" href="#">Mejor calidad</a></li>
                
              </ul>
            
            </div>
            
           
            <div class="container-fluid px-5">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th (click)="this.orderByPrice()" style="cursor: pointer">Precio</th>
                    <th>Stock</th>
                    <th>Palabras clave</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of this.productService.products">
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.stock }}</td>
                    <td>
                      <span class="text-primary" *ngFor="let keyword of product.keywords">{{'#' + keyword + ' '}}</span>
                    </td>
                    <td>
                      <div class="d-flex justify-content-evenly"></div>
                      <i class="material-icons text-danger" style="cursor: pointer;" (click)="this.deleteProduct(product._id, product.name)">delete_forever</i>
                      <i class="material-icons text-success" style="cursor: pointer" (click)="this.fillForm(product)">edit</i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>


            <div class="d-flex justify-content-center">
              <div class="border p-3 rounded" style="width: 25rem">
                <h3 class="text-center pb-3">Administrador de productos</h3>
            
                <form #productForm="ngForm">
            
                  <div class="mb-3">
                    <input type="hidden" id="_id" name="_id" [ngModel]="this.productService.currentProduct._id">
                  </div>
            
                  <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      placeholder="Nombre de producto"
                      name="name"
                      [ngModel]="this.productService.currentProduct.name"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="price" class="form-label">Precio</label>
                    <input
                      type="text"
                      class="form-control"
                      id="price"
                      placeholder="Nombre de producto"
                      name="price"
                      [ngModel]="this.productService.currentProduct.price"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="description" class="form-label">Descripción</label>
                    <input
                      type="text"
                      class="form-control"
                      id="description"
                      placeholder="Descripcion del producto"
                      name="description"
                      [ngModel]="this.productService.currentProduct.description"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="stock" class="form-label">Stock del producto</label>
                    <input
                      type="number"
                      class="form-control"
                      id="stock"
                      placeholder="Productos disponibles"
                      name="stock"
                      [ngModel]="this.productService.currentProduct.stock"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="image" class="form-label">Imagen</label>
                    <input
                      type="text"
                      class="form-control"
                      id="image"
                      placeholder="Imagen del producto"
                      name="image"
                      [ngModel]="this.productService.currentProduct.image"
                    />
                  </div>
                </form>
            
                <button class="btn btn-success d-flex aling-items-center" (click)="this.createProduct(productForm)">
                  <i class="material-icons">save</i>
                  Guardar
                </button>
              </div>
            </div>
            
           
            <nav aria-label="...">
              <ul class="pagination">
                <li class="page-item disabled">
                  <a class="page-link">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>

          </section>

    </div>

</section>

<!-- //ejercisio -->