.img_sice {
  width: 55%;
}
.bg_blue {
  background-color: #000a23fe;
}
.img_sice1 {
  width: 10%;
  height: 10%;
  filter: invert(80%);
}
.img_sice2 {
  width: 10%;
  height: 10%;
}
.linea{
    width: 80%;
    height: 2px;
    background-color: #99804e;
    margin: auto;
}