<!-- sección principal -->
<!-- sección principal -->
<div class="contenedor">
  <figure>
    <img
      src="../../../assets/img/home_imagen_1.jpeg"
      class="img-fluid"
      alt=""
    />
    <div class="capa">
      <h1>Sector Alimentos</h1>
    </div>
  </figure>
  <figure>
    <img
      src="../../../assets/img/home_imagen_2.jpeg"
      class="img-fluid"
      alt=""
    />
    <div class="capa">
      <h1>Sector Escolar</h1>
    </div>
  </figure>
  <figure>
    <img
      src="../../../assets/img/home_imagen_3.jpeg"
      class="img-fluid"
      alt=""
    />
    <div class="capa">
      <h1>Sector Tecnología</h1>
    </div>
  </figure>
  <figure>
    <img
      src="../../../assets/img/home_imagen_4.jpeg"
      class="img-fluid"
      alt=""
    />
    <div class="capa">
      <h1>Sector Aseo</h1>
    </div>
  </figure>
</div>
<!-- square-finish -->
<div class="banner">
  <div class="text-center mt-n5 bg-blue ">
       <h5 class="title fs-1">Te damos la bienvenida a NEPHILA</h5>
      <p class="text fw-light fs-4">La red que necesita tu empresa</p>
    <a href="#" class="btn btn-warning btn-lg m-3" [routerLink]="['/weAre']"
      >Conoce más</a
    >
  </div>
</div>

   